exportPattern("^[[:alpha:]]+")
importFrom("afex", "aov_car")
importFrom("methods", "new")
importFrom("stats", "quantile", "summary.lm")
importFrom("emmeans", "emmeans", "eff_size")
importFrom("lsr", "wideToLong")
importFrom("graphics", "pairs")
import(carData)
S3method(print, AOboot_one)
export(print.AOboot_one)
S3method(print, AOboot_two)
export(print.AOboot_two)
